@model DrawDeck

<h2>How many decks of cards would you like put into your deck?</h2>

<form asp-action="DrawnDeck" asp-controller="Home">
    <input type="number" name="Id" />
    <input type="submit" />
</form>